N8N - Tailscale/workflows/wf10-trade-journal.json
{
  "name": "MT4 - 10 Trade Journal",
  "nodes": [
    {
      "id": "wh10",
      "name": "Webhook Trade Closed",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [200, 300],
      "parameters": {
        "path": "trade-closed",
        "responseMode": "onReceived",
        "options": {},
        "httpMethod": "POST"
      },
      "webhookId": "close001"
    },
    {
      "id": "sched10",
      "name": "Taeglich 22 Uhr",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [200, 500],
      "parameters": {
        "rule": {
          "interval": [
            { "field": "cronExpression", "expression": "0 22 * * *" }
          ]
        }
      }
    },
    {
      "id": "merge10",
      "name": "Merge",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [440, 380],
      "parameters": {
        "mode": "chooseBranch",
        "output": "empty"
      }
    },
    {
      "id": "http10_clear",
      "name": "Buffer leeren",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [660, 380],
      "parameters": {
        "method": "DELETE",
        "url": "http://localhost:8765/mt4/buffer",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "Bearer 77cc86eaebae04682516f8f781069d14c3d3d46ba95a28cb" }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "http10_acct",
      "name": "Account Info holen",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [880, 380],
      "parameters": {
        "method": "POST",
        "url": "http://localhost:8765/mt4/command",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "Bearer 77cc86eaebae04682516f8f781069d14c3d3d46ba95a28cb" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"action\":\"GET_ACCOUNT_INFO\"}",
        "options": {}
      }
    },
    {
      "id": "wait10",
      "name": "Warte 3s",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [1100, 380],
      "parameters": {
        "amount": 3,
        "unit": "seconds"
      }
    },
    {
      "id": "http10_resp",
      "name": "Hole Account",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1320, 380],
      "parameters": {
        "method": "GET",
        "url": "http://localhost:8765/mt4/signals?limit=10&clear=true",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "Bearer 77cc86eaebae04682516f8f781069d14c3d3d46ba95a28cb" }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "code10",
      "name": "Journal erstellen",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1540, 380],
      "parameters": {
        "jsCode": "// ========== WF10 Trade Journal ==========\nconst webhookData = $('Webhook Trade Closed')?.first()?.json || null;\nconst acctResp = $('Hole Account').first().json;\nconst signals = acctResp.signals || [];\n\n// Account Info\nlet balance = 0, equity = 0, profit = 0;\nfor (const s of signals) {\n  if (s._action === 'GET_ACCOUNT_INFO' || s.balance) {\n    balance = s.balance || s._balance || 0;\n    equity = s.equity || s._equity || 0;\n    profit = s.profit || s._profit || 0;\n  }\n}\n\nconst now = new Date();\nconst dateStr = now.toLocaleDateString('de-DE', { weekday: 'long', day: '2-digit', month: '2-digit', year: 'numeric', timeZone: 'Europe/Berlin' });\nconst timeStr = now.toLocaleTimeString('de-DE', { hour: '2-digit', minute: '2-digit', timeZone: 'Europe/Berlin' });\n\nlet msg = '';\n\nif (webhookData && webhookData.ticket) {\n  // Einzelner Trade geschlossen\n  const d = webhookData;\n  const pnl = d.profit || d.pnl || 0;\n  const emoji = pnl >= 0 ? '💰' : '📉';\n  const duration = d.duration || 'unbekannt';\n\n  msg = `${emoji} <b>Trade geschlossen</b>\\n\\n`;\n  msg += `Ticket: #${d.ticket}\\n`;\n  msg += `Symbol: ${d.symbol} ${d.direction || ''}\\n`;\n  msg += `Entry: $${d.entryPrice || '?'} → Exit: $${d.exitPrice || '?'}\\n`;\n  msg += `P&L: $${pnl}\\n`;\n  msg += `Dauer: ${duration}\\n\\n`;\n  msg += `💼 Account: $${balance} (Equity: $${equity})\\n`;\n  msg += `\\n<i>${dateStr} ${timeStr}</i>`;\n\n  return [{ json: {\n    type: 'TRADE_CLOSED',\n    ...d,\n    balance, equity,\n    _telegramMsg: msg,\n    _sheetData: {\n      Timestamp: now.toISOString(),\n      Ticket: d.ticket,\n      Symbol: d.symbol,\n      Direction: d.direction || '',\n      Entry: d.entryPrice || '',\n      Exit: d.exitPrice || '',\n      PnL: pnl,\n      Duration: duration,\n      Balance_After: balance,\n      Reason: d.reason || 'Monitor/SL/TP'\n    }\n  } }];\n}\n\n// Täglicher Journal-Eintrag\nmsg = `📋 <b>Trading Journal – ${dateStr}</b>\\n\\n`;\nmsg += `💼 <b>Account Status:</b>\\n`;\nmsg += `• Balance: $${balance}\\n`;\nmsg += `• Equity: $${equity}\\n`;\nmsg += `• Floating P&L: $${profit}\\n\\n`;\nmsg += `<i>${timeStr}</i>`;\n\nreturn [{ json: {\n  type: 'DAILY_JOURNAL',\n  balance, equity, profit,\n  date: dateStr,\n  _telegramMsg: msg,\n  _sheetData: {\n    Timestamp: now.toISOString(),\n    Ticket: 'DAILY',\n    Symbol: '-',\n    Direction: '-',\n    Entry: '-',\n    Exit: '-',\n    PnL: profit,\n    Duration: '-',\n    Balance_After: balance,\n    Reason: 'Tages-Journal'\n  }\n} }];"
      }
    },
    {
      "id": "tg10",
      "name": "Journal Telegram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [1760, 280],
      "credentials": {
        "telegramApi": {
          "id": "lwOSLP3ylq10yEW4",
          "name": "MT4 Telegram Bot"
        }
      },
      "parameters": {
        "chatId": "7268021157",
        "text": "={{ $json._telegramMsg }}",
        "additionalFields": { "parse_mode": "HTML" }
      }
    },
    {
      "id": "gs10",
      "name": "Journal in Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [1760, 460],
      "credentials": {
        "googleApi": {
          "id": "82cab318-1cf6-4071-a030-1535dfe88501",
          "name": "Google Service Account Trading"
        }
      },
      "parameters": {
        "authentication": "serviceAccount",
        "resource": "sheet",
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1J1MNtiITEOTPBW_sZU4hl5Uf-_JlAaR4DDcS5eg-V_g",
          "mode": "id"
        },
        "sheetName": { "__rl": true, "value": "Journal", "mode": "name" },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Timestamp": "={{ $json._sheetData.Timestamp }}",
            "Ticket": "={{ $json._sheetData.Ticket }}",
            "Symbol": "={{ $json._sheetData.Symbol }}",
            "Direction": "={{ $json._sheetData.Direction }}",
            "Entry": "={{ $json._sheetData.Entry }}",
            "Exit": "={{ $json._sheetData.Exit }}",
            "PnL": "={{ $json._sheetData.PnL }}",
            "Duration": "={{ $json._sheetData.Duration }}",
            "Balance_After": "={{ $json._sheetData.Balance_After }}",
            "Reason": "={{ $json._sheetData.Reason }}"
          },
          "matchingColumns": [],
          "schema": []
        },
        "options": {}
      }
    }
  ],
  "connections": {
    "Webhook Trade Closed": {
      "main": [[{ "node": "Merge", "type": "main", "index": 0 }]]
    },
    "Taeglich 22 Uhr": {
      "main": [[{ "node": "Merge", "type": "main", "index": 1 }]]
    },
    "Merge": {
      "main": [[{ "node": "Buffer leeren", "type": "main", "index": 0 }]]
    },
    "Buffer leeren": {
      "main": [[{ "node": "Account Info holen", "type": "main", "index": 0 }]]
    },
    "Account Info holen": {
      "main": [[{ "node": "Warte 3s", "type": "main", "index": 0 }]]
    },
    "Warte 3s": {
      "main": [[{ "node": "Hole Account", "type": "main", "index": 0 }]]
    },
    "Hole Account": {
      "main": [[{ "node": "Journal erstellen", "type": "main", "index": 0 }]]
    },
    "Journal erstellen": {
      "main": [[
        { "node": "Journal Telegram", "type": "main", "index": 0 },
        { "node": "Journal in Sheets", "type": "main", "index": 0 }
      ]]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  }
}
