N8N - Tailscale/workflows/wf9-trade-monitor.json
{
  "id": "0bRXfI6yvP7yVjlm",
  "name": "MT4 - 9 Trade Monitor",
  "nodes": [
    {
      "id": "sched9",
      "name": "Alle 2 Minuten",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [200, 300],
      "parameters": {
        "rule": {
          "interval": [{ "field": "minutes", "minutesInterval": 2 }]
        }
      }
    },
    {
      "id": "gs9_read",
      "name": "Lese Active-Trades",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [420, 300],
      "credentials": {
        "googleApi": {
          "id": "82cab318-1cf6-4071-a030-1535dfe88501",
          "name": "Google Service Account Trading"
        }
      },
      "parameters": {
        "authentication": "serviceAccount",
        "resource": "sheet",
        "operation": "lookup",
        "documentId": {
          "__rl": true,
          "value": "1J1MNtiITEOTPBW_sZU4hl5Uf-_JlAaR4DDcS5eg-V_g",
          "mode": "id"
        },
        "sheetName": { "__rl": true, "value": "Active-Trades", "mode": "name" },
        "lookupColumn": "Status",
        "lookupValue": "OPEN",
        "options": { "returnAllMatches": true }
      }
    },
    {
      "id": "code9_filter",
      "name": "Aggregiere Trades",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [640, 300],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// BUG-8 Workaround: Trades aus Active-Trades Sheet statt GET_OPEN_TRADES\nconst allRows = $input.all().map(i => i.json);\nconst openTrades = allRows.map(row => ({\n  ticket:    parseInt(row.Ticket) || 0,\n  symbol:    row.Symbol || '',\n  direction: row.Direction || 'BUY',\n  lots:      parseFloat(row.Lots) || 0.01,\n  openPrice: parseFloat(row.Entry) || 0,\n  sl:        parseFloat(row.SL) || 0,\n  tp:        parseFloat(row.TP) || 0,\n  rr:        parseFloat(row.RR) || 0,\n  risk:      parseFloat(row.Risk_USD) || 0,\n  reason:    row.Reason || '',\n  timestamp: row.Timestamp || ''\n}));\nreturn [{ json: { openTrades, count: openTrades.length } }];"
      }
    },
    {
      "id": "http9_market",
      "name": "Aktuelle Preise",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [860, 300],
      "parameters": {
        "method": "GET",
        "url": "http://localhost:8765/mt4/market?limit=20&clear=false",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "Bearer 77cc86eaebae04682516f8f781069d14c3d3d46ba95a28cb" }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "code9_monitor",
      "name": "Trade Management",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1080, 300],
      "parameters": {
        "jsCode": "// Trade Management – liest Trades aus GS-Lookup (BUG-8 Workaround)\nconst filterData = $('Aggregiere Trades').first().json;\nconst mktResp = $input.first().json;\nconst openTrades = filterData.openTrades || [];\nconst market = mktResp.market || [];\n\n// Preise indexieren\nconst prices = {};\nfor (const tick of market) {\n  if (tick.symbol) prices[tick.symbol] = { bid: tick.bid, ask: tick.ask };\n}\n\nif (openTrades.length === 0) {\n  return [{ json: { action: 'NONE', tradeCount: 0, _skip: true } }];\n}\n\nconst actions = [];\n\nfor (const trade of openTrades) {\n  const isBuy = trade.direction === 'BUY';\n  const p = prices[trade.symbol];\n  if (!p || !trade.openPrice) continue;\n\n  // Symbol-spezifischer Offset: BTC ~$50, Forex ~5 Pips\n  const priceOffset = trade.symbol.includes('BTC') ? 50 : (trade.symbol.includes('GOLD') ? 2 : 0.0005);\n\n  const currentPrice = isBuy ? p.bid : p.ask;\n  const priceDiff = isBuy ? (currentPrice - trade.openPrice) : (trade.openPrice - currentPrice);\n  const pnlPercent = trade.openPrice > 0 ? (priceDiff / trade.openPrice) * 100 : 0;\n\n  const totalMoveToTP = trade.tp > 0\n    ? (isBuy ? (trade.tp - trade.openPrice) : (trade.openPrice - trade.tp))\n    : 0;\n  const currentMoveToTP = isBuy\n    ? (currentPrice - trade.openPrice)\n    : (trade.openPrice - currentPrice);\n  const progressToTP = totalMoveToTP > 0 ? (currentMoveToTP / totalMoveToTP) * 100 : 0;\n\n  let action = {\n    ticket: trade.ticket, symbol: trade.symbol, type: 'HOLD', trade,\n    currentPrice,\n    pnlPercent: Math.round(pnlPercent * 100) / 100,\n    progressToTP: Math.round(progressToTP)\n  };\n\n  // Phase 1: +35% zu TP → SL auf Breakeven\n  if (trade.tp > 0 && progressToTP >= 35 && progressToTP < 70) {\n    const newSL = trade.openPrice + (isBuy ? priceOffset : -priceOffset);\n    if ((isBuy && trade.sl < trade.openPrice) || (!isBuy && trade.sl > trade.openPrice)) {\n      action.type = 'MODIFY_SL_BREAKEVEN';\n      action.newSL = Math.round(newSL * 10000) / 10000;\n      action.newTP = trade.tp;\n      action.reason = 'Progress ' + action.progressToTP + '% → SL auf Breakeven';\n    }\n  }\n\n  // Phase 2: +70% zu TP → SL auf 50% Profit\n  if (trade.tp > 0 && progressToTP >= 70 && progressToTP < 100) {\n    const profitSL = isBuy\n      ? (trade.openPrice + (currentMoveToTP * 0.5))\n      : (trade.openPrice - (currentMoveToTP * 0.5));\n    if ((isBuy && trade.sl < profitSL - priceOffset) || (!isBuy && trade.sl > profitSL + priceOffset)) {\n      action.type = 'MODIFY_SL_PROFIT';\n      action.newSL = Math.round(profitSL * 10000) / 10000;\n      action.newTP = trade.tp;\n      action.reason = 'Progress ' + action.progressToTP + '% → SL auf 50% Profit';\n    }\n  }\n\n  // Phase 3: >=95% zu TP → 50% Teilschließung\n  if (trade.tp > 0 && progressToTP >= 95) {\n    const halfLots = Math.round((trade.lots / 2) * 100) / 100;\n    if (halfLots >= 0.01) {\n      action.type = 'PARTIAL_CLOSE';\n      action.closeLots = halfLots;\n      action.remainLots = Math.round((trade.lots - halfLots) * 100) / 100;\n      action.newSL = Math.round((trade.openPrice + (isBuy ? priceOffset * 2 : -priceOffset * 2)) * 10000) / 10000;\n      action.reason = 'TP fast erreicht (' + action.progressToTP + '%) → 50% schließen';\n    }\n  }\n\n  // Notfall: >= -3% Verlust\n  if (pnlPercent <= -3) {\n    action.type = 'ALERT_LOSS';\n    action.reason = '⚠️ Trade bei ' + action.pnlPercent + '% Verlust';\n  }\n\n  actions.push(action);\n}\n\nconst modifications = actions.filter(a => a.type !== 'HOLD');\n\nreturn [{ json: {\n  action: modifications.length > 0 ? 'MANAGE' : 'MONITOR',\n  tradeCount: openTrades.length,\n  modifications,\n  allTrades: actions,\n  prices,\n  _skip: modifications.length === 0\n} }];"
      }
    },
    {
      "id": "if9_action",
      "name": "Aktion noetig?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1300, 300],
      "parameters": {
        "conditions": {
          "options": { "version": 2 },
          "conditions": [
            {
              "id": "c9a",
              "leftValue": "={{ $json._skip }}",
              "operator": { "type": "boolean", "operation": "false" },
              "rightValue": ""
            }
          ]
        }
      }
    },
    {
      "id": "code9_exec",
      "name": "Aktionen ausfuehren",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1520, 200],
      "parameters": {
        "jsCode": "const data = $input.first().json;\nconst mods = data.modifications || [];\nconst TOKEN = '77cc86eaebae04682516f8f781069d14c3d3d46ba95a28cb';\nconst BASE = 'http://localhost:8765';\n\nconst results = [];\nconst messages = [];\n\nfor (const mod of mods) {\n  let body = null;\n  let actionDesc = '';\n\n  if (mod.type === 'MODIFY_SL_BREAKEVEN' || mod.type === 'MODIFY_SL_PROFIT') {\n    body = { action: 'MODIFY_TRADE', ticket: mod.ticket, symbol: mod.symbol, sl: mod.newSL, tp: mod.newTP };\n    actionDesc = '🔄 SL angepasst: #' + mod.ticket + ' ' + mod.symbol + ' → SL=' + mod.newSL + ' (' + mod.reason + ')';\n  }\n\n  if (mod.type === 'PARTIAL_CLOSE') {\n    body = { action: 'CLOSE_TRADE', ticket: mod.ticket, symbol: mod.symbol, volume: mod.closeLots };\n    actionDesc = '💰 Teilschließung: #' + mod.ticket + ' ' + mod.symbol + ' ' + mod.closeLots + ' Lots';\n  }\n\n  if (mod.type === 'ALERT_LOSS') {\n    actionDesc = '⚠️ VERLUST: #' + mod.ticket + ' ' + mod.symbol + ' bei ' + mod.pnlPercent + '%';\n  }\n\n  if (body) {\n    try {\n      const resp = await fetch(BASE + '/mt4/command', {\n        method: 'POST',\n        headers: { 'Content-Type': 'application/json', 'Authorization': 'Bearer ' + TOKEN },\n        body: JSON.stringify(body)\n      });\n      const r = await resp.json();\n      results.push({ ticket: mod.ticket, action: mod.type, status: 'sent', response: r });\n    } catch (e) {\n      results.push({ ticket: mod.ticket, action: mod.type, status: 'error', error: e.message });\n      actionDesc += ' (Fehler: ' + e.message + ')';\n    }\n  }\n\n  if (actionDesc) messages.push(actionDesc);\n}\n\nconst telegramMsg = '📊 <b>Trade Monitor</b>\\n\\n' +\n  'Offene Trades: ' + data.tradeCount + '\\n' +\n  'Aktionen: ' + mods.length + '\\n\\n' +\n  messages.join('\\n') +\n  '\\n\\n<i>' + new Date().toLocaleString('de-DE', { timeZone: 'Europe/Berlin' }) + '</i>';\n\nreturn [{ json: { results, messages, _telegramMsg: telegramMsg, tradeCount: data.tradeCount, actionCount: mods.length } }];"
      }
    },
    {
      "id": "tg9",
      "name": "Monitor Telegram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [1740, 160],
      "credentials": {
        "telegramApi": { "id": "lwOSLP3ylq10yEW4", "name": "MT4 Telegram Bot" }
      },
      "parameters": {
        "chatId": "7268021157",
        "text": "={{ $json._telegramMsg }}",
        "additionalFields": { "parse_mode": "HTML" }
      }
    },
    {
      "id": "gs9_log",
      "name": "Monitor Log",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [1740, 340],
      "credentials": {
        "googleApi": {
          "id": "82cab318-1cf6-4071-a030-1535dfe88501",
          "name": "Google Service Account Trading"
        }
      },
      "parameters": {
        "authentication": "serviceAccount",
        "resource": "sheet",
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1J1MNtiITEOTPBW_sZU4hl5Uf-_JlAaR4DDcS5eg-V_g",
          "mode": "id"
        },
        "sheetName": { "__rl": true, "value": "Monitor-Log", "mode": "name" },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Timestamp":   "={{ new Date().toISOString() }}",
            "TradeCount":  "={{ $json.tradeCount }}",
            "Actions":     "={{ $json.actionCount }}",
            "Details":     "={{ $json.messages ? $json.messages.join(' | ') : 'Trade Management' }}"
          },
          "matchingColumns": [],
          "schema": []
        },
        "options": {}
      }
    }
  ],
  "connections": {
    "Alle 2 Minuten":      { "main": [[{ "node": "Lese Active-Trades",  "type": "main", "index": 0 }]] },
    "Lese Active-Trades":  { "main": [[{ "node": "Aggregiere Trades",   "type": "main", "index": 0 }]] },
    "Aggregiere Trades":   { "main": [[{ "node": "Aktuelle Preise",     "type": "main", "index": 0 }]] },
    "Aktuelle Preise":     { "main": [[{ "node": "Trade Management",    "type": "main", "index": 0 }]] },
    "Trade Management":    { "main": [[{ "node": "Aktion noetig?",      "type": "main", "index": 0 }]] },
    "Aktion noetig?": { "main": [
      [{ "node": "Aktionen ausfuehren", "type": "main", "index": 0 }],
      []
    ]},
    "Aktionen ausfuehren": { "main": [[
      { "node": "Monitor Telegram", "type": "main", "index": 0 },
      { "node": "Monitor Log",      "type": "main", "index": 0 }
    ]]}
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  }
}
